image: "$CI_REGISTRY/pacing-app/ui/android-sdk:latest"

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: 0
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

before_script:
  - chmod +x ./gradlew

stages:
  - analyze
  - test
  - package
  - release

cache:
  key:
    files:
      - gradle/wrapper/gradle-wrapper.properties
  policy: pull-push
  paths:
    - .gradle/caches/
    - .gradle/wrapper/
    - build/

# -------------------------------------------------------------
# Analyze
# -------------------------------------------------------------
lintDebug:
  stage: analyze
  script:
    - ./gradlew -Pci --console=plain :app:lintDebug -PbuildDir=lint
  rules:
    - when: always
  artifacts:
    paths:
      - app/lint/reports/

# -------------------------------------------------------------
# Test
# -------------------------------------------------------------
debugUnitTests:
  stage: test
  script:
    - ./gradlew -Pci --console=plain :app:testDebugUnitTest
  rules:
    - when: always
  artifacts:
    when: always
    paths:
      - app/build/test-results/testDebugUnitTest/
      - app/build/reports/tests/testDebugUnitTest/
      - app/build/jacoco/

.connected_tests_template:
  stage: test
  script:
    - /opt/start-emulator.sh
    - adb devices
    - ./gradlew -Pci --console=plain connectedAndroidTest
  after_script:
    - /opt/stop-emulator.sh
  artifacts:
    when: always
    paths:
      - app/build/reports/androidTests/connected/
      - app/build/outputs/androidTest-results/connected/
      - app/build/jacoco/
      - /tmp/emulator_*.log
  allow_failure: false
  rules:
    - when: always

connectedInstrumentationTests:
  extends: .connected_tests_template
  parallel:
    matrix:
      - ANDROID_API: "28"
        ANDROID_IMAGE: "android-emulator:api28"
      - ANDROID_API: "36"
        ANDROID_IMAGE: "android-emulator:api36"
  image: "$CI_REGISTRY/pacing-app/ui/${ANDROID_IMAGE}"

# -------------------------------------------------------------
# Package
# -------------------------------------------------------------
assembleDebug:
  stage: package
  script:
    - ./gradlew clean assembleDebug
  rules:
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'
      changes:
        - '**/*'

assembleRelease:
  stage: package
  variables:
    SECURE_FILES_DOWNLOAD_PATH: './'
  script:
    - apt update && apt install -y curl
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - ./gradlew clean assembleRelease
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG =~ /^sprint\d+$/'
  artifacts:
    paths:
      - app/build/outputs/

# -------------------------------------------------------------
# Release
# -------------------------------------------------------------
.apk_finder_script: &apk_finder_script
  - |
    APK_PATH="app/build/outputs/apk/release"
    APK_FILE=""
    LINK_NAME=""

    if [ -f "$APK_PATH/app-release.apk" ]; then
      echo "Found signed APK"
      APK_FILE="app-release.apk"
      LINK_NAME="APK Download (SIGNED)"
    elif [ -f "$APK_PATH/app-release-unsigned.apk" ]; then
      echo "Found unsigned APK"
      APK_FILE="app-release-unsigned.apk"
      LINK_NAME="APK Download (UNSIGNED)"
    else
      echo "ERROR: No release APK in directory $APK_PATH found!"
      exit 1
    fi
    cp "$APK_PATH/$APK_FILE" .

create_major_release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: assembleRelease
      artifacts: true
  rules:
    - if: '$CI_COMMIT_TAG =~ /^sprint\d+$/'
      when: always
  script:
    - *apk_finder_script
    - |
      release-cli create \
        --name "Release $CI_COMMIT_TAG" \
        --tag-name "$CI_COMMIT_TAG" \
        --description "Release for Sprint '$CI_COMMIT_TAG', created at $(date +'%d.%m.%Y %H:%M')" \
        --assets-link "{\"name\":\"$LINK_NAME\",\"url\":\"$CI_PROJECT_URL/-/jobs/$CI_JOB_ID/artifacts/file/$APK_FILE\"}"
  artifacts:
    paths:
      - "*.apk"
    expire_in: never
