image: "$CI_REGISTRY/pacing-app/ui/android-sdk:latest"

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: 0
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

before_script:
  - chmod +x ./gradlew

stages:
  - analyze
  - quality
  - release

cache:
  key:
    files:
      - gradle/wrapper/gradle-wrapper.properties
  policy: pull-push
  paths:
    - .gradle/caches/
    - .gradle/wrapper/
    - build/

# -------------------------------------------------------------
# Analyze
# -------------------------------------------------------------
lintDebug:
  stage: analyze
  script:
    - ./gradlew -Pci --console=plain :app:lintDebug -PbuildDir=lint
  artifacts:
    paths:
      - app/lint/reports/

# -------------------------------------------------------------
# Quality (inkl. Tests)
# -------------------------------------------------------------

sonarqubeUnit:
  stage: quality
  rules:
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'
  script:
    - ./gradlew -Pci --console=plain :app:testDebugUnitTest
    - ./gradlew jacocoUnitTestReport
    - ./gradlew sonar -Dsonar.coverage.jacoco.xmlReportPaths=app/build/reports/jacoco/jacocoDebugUnitTestReport/jacocoDebugUnitTestReport.xml -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.projectName=$SONAR_PROJECT_NAME -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.token=$SONAR_TOKEN -Dsonar.qualitygate.wait=true
  artifacts:
    when: always
    paths:
      - app/build/reports/
      - app/build/test-results/testDebugUnitTest/
      - app/build/jacoco/

sonarqubeAndroid:
  stage: quality
  tags:
    - android
  image: "$CI_REGISTRY/pacing-app/ui/android-sdk:latest"
  parallel:
    matrix:
      - ANDROID_API: [ "28", "35" ]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == $CI_DEFAULT_BRANCH'
  script:
    - /opt/start-avds.sh $ANDROID_API
    - ./gradlew jacocoAndroidTestReport
    - ./gradlew sonar -Dsonar.coverage.jacoco.xmlReportPaths=app/build/reports/jacoco/jacocoDebugAndroidTestReport/jacocoDebugAndroidTestReport.xml -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.projectName=$SONAR_PROJECT_NAME -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.token=$SONAR_TOKEN -Dsonar.qualitygate.wait=true
  after_script:
    - pkill -f qemu-system 2>/dev/null || true
  artifacts:
    when: always
    paths:
      - app/build/reports/
      - app/build/outputs/androidTest-results/connected/
      - app/build/jacoco/

# -------------------------------------------------------------
# Builds
# -------------------------------------------------------------
assembleDebug:
  stage: release
  script:
    - ./gradlew clean assembleDebug
  rules:
    - if: '$CI_COMMIT_BRANCH != "main"'
      changes:
        - '**/*'

assembleRelease:
  stage: release
  script:
    - ./gradlew clean assembleRelease
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - '**/*'
  artifacts:
    paths:
      - app/build/outputs/
