image: "$CI_REGISTRY/pacing-app/ui/android-sdk:latest"

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: 0
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

before_script:
  - chmod +x ./gradlew

stages:
  - analyze
  - test
  - release

cache:
  key:
    files:
      - gradle/wrapper/gradle-wrapper.properties
  policy: pull-push
  paths:
    - .gradle/caches/
    - .gradle/wrapper/
    - build/

# -------------------------------------------------------------
# Analyze
# -------------------------------------------------------------
lintDebug:
  stage: analyze
  script:
    - ./gradlew -Pci --console=plain :app:lintDebug -PbuildDir=lint
  artifacts:
    paths:
      - app/lint/reports/

# -------------------------------------------------------------
# Test
# -------------------------------------------------------------
debugUnitTests:
  stage: test
  script:
    - ./gradlew -Pci --console=plain :app:testDebugUnitTest
  rules:
    - when: always
  artifacts:
    when: always
    paths:
      - app/build/test-results/testDebugUnitTest/
      - app/build/reports/tests/testDebugUnitTest/
      - app/build/jacoco/

.connected_tests_template:
  stage: test
  script:
    - /opt/start-avds.sh
    - ./gradlew -Pci --console=plain :app:connectedDebugAndroidTest
  after_script:
    - pkill -f qemu-system 2>/dev/null || true
  artifacts:
    when: always
    paths:
      - app/build/reports/androidTests/connected/
      - app/build/outputs/androidTest-results/connected/
      - app/build/jacoco/
  allow_failure: false
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == $CI_DEFAULT_BRANCH'
      when: always
    - when: never

connectedInstrumentationTests:
  extends: .connected_tests_template
  tags:
    - android
  parallel:
    matrix:
      - ANDROID_API: [ "28", "35" ]
  image: "$CI_REGISTRY/pacing-app/ui/android-sdk:latest"

# -------------------------------------------------------------
# Builds
# -------------------------------------------------------------
assembleDebug:
  stage: release
  script:
    - ./gradlew clean assembleDebug
  rules:
    - if: '$CI_COMMIT_BRANCH != "main"'
      changes:
        - '**/*'

assembleRelease:
  stage: release
  script:
    - ./gradlew clean assembleRelease
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - '**/*'
  artifacts:
    paths:
      - app/build/outputs/
