# Android Studio / IDEA
.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/libraries/

.gradle
/build
/captures
*.iml
.externalNativeBuild
.cxx
/local.properties
local.properties

# MacOS
.DS_Store
